input.red_btn{
   font-family: Arial, Sans-Serif;
   font-size: 10px;
   color:#FFFFFF;
   font-weight:bold;
   background-color:#990000;
   border:2px solid;
   border-top-color:#FFCCCC;
   border-left-color:#FFCCCC;
   border-right-color:#330000;
   border-bottom-color:#330000;
}
input.green_btn{
   font-family: Arial, Sans-Serif;
   font-size: 10px;
   color:#FFFFFF;
   font-weight:bold;
   background-color:#009900;
   border:2px solid;
   border-top-color:#CCFFCC;
   border-left-color:#CCFFCC;
   border-right-color:#003300;
   border-bottom-color:#003300;
}
input.blue_btn{
   font-family: Arial, Sans-Serif;
   font-size: 10px;
   color:#FFFFFF;
   font-weight:bold;
   background-color:#000099;
   border:2px solid;
   border-top-color:#CCCCFF;
   border-left-color:#CCCCFF;
   border-right-color:#000033;
   border-bottom-color:#000033;
}
input.form_field {
    font-family: Arial, Sans-Serif;
    font-size: 10px;
    margin-bottom: 3px;
    padding: 2px;
    border: solid 1px #000066;
}
textarea.form_field {
    font-family: Arial, Sans-Serif;
    font-size: 10px;
    margin-bottom: 3px;
    padding: 2px;
    border: solid 1px #000066;
}
select.form_field {
    font-family: Arial, Sans-Serif;
    font-size: 10px;
    margin-bottom: 3px;
    padding: 2px;
    border: solid 1px #000066;
} 

table{
    width: 100%;
}
body {
    overflow-x: hidden;
    position: relative;
    height: 100% !important;
    padding-bottom: 6rem;
    min-height: 100%;
}
table.relog{
  width: 50% !important;
}

span#DeactivateDOlDSessioNSpan {
    height: 100% !important;
}

span#LoadingBox {
    height: 100% !important;
}
span#CloserSelectBox {
    width: 100% !important;
    height: 100% !important;
}

html {
    height: 100% !important;
}

div#myModal .modal-body {
    padding: 15px 0;
    text-align: center;
}
div#myModal .modal-body input {
    background-color: #015b91 !important;
}
div#myModal .modal-body label {
    width: 100%;
}

div#myModal .modal-body select#break_type {
  width: 80% !important;
  margin: 15px auto;
}

div#myModal .modal-body input {
    width: 35% !important;
    margin: 15px auto;
    height: 25px;
    background-color: #015b91;
    border: 0;
    color: #fff;
    font-weight: 600;
}

div#myModal .modal-header{
    background-color: #015B91;
}
div#myModal .modal-content {
    width: 25%;
}

div#makeCall .modal-body {
    padding: 15px 0;
    text-align: center;
}
div#makeCall .modal-body input[type="button"] {
    background-color: #015b91 !important;
    width: 40% !important;
    margin: 15px auto;
}
div#makeCall .modal-body label {
    width: 100%;
}
div#makeCall .modal-header{
    background-color: #015B91;
}
div#makeCall .modal-content {
    width: 25%;
}

div#transferCall .modal-body {
    padding: 15px 0;
    text-align: center;
}
div#transferCall .modal-body input[type="button"] {
    background-color: #015b91 !important;
    width: 40% !important;
    margin: 15px auto;
}
div#transferCall .modal-body label {
    width: 100%;
}
div#transferCall .modal-header{
    background-color: #015B91;
}
div#transferCall .modal-content {
    width: 25%;
}
.btn a input[type="submit"] {
    background: no-repeat;
    border: 0;
    color: #fff;
    font-weight: 600;
}

table.login_frm font, table.login_frm input#VD_login, input#VD_pass {
    width: 100%;
    display: block;
}

table.login_frm font {
    font-weight: normal;
    margin-bottom: 8px;
    color: steelblue;
}
input.form-control, select.form-control {
    height: 25px !important;
    background-color: #ffffff !important;
    border: 1px solid #cccccc;
    padding: 0 8px;
    margin: 2px 0;
}

font.login_frm_title {
    color: #333333 !important;
    font-weight: bold !important;
}
td.btn.login_submit_btn input {
    background: #2580cc;
    padding: 6px 20px;
    font-family: 'open sans', sans-serif;
    font-weight: bold;
    color: #fff;
    border-radius: 4px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 0px #000;
    border: 0;
    font-size: 14px;
}
.text-left{
  text-align: left !important; 

span#MaiNfooterspan {
    position: absolute;
    right: 0;
    bottom: -1rem;
    left: 0;
    background-color: #efefef;
    text-align: center;
}


table#MainTable {
    width: 90% !important;
    margin: 30px auto 0 auto !important;
}

table#MainTable tr td table {
    margin: 5px 0;
}
table#Tabs font {
    font-weight: normal;
}

/*view history table*/

table.view-history-table {
    padding: 10px;
    width: 60% !important;
}

table.view-history-table tbody tr th {
    font-size: 13px;
}

.modal-content.view-history-tbl {
    width: 60%;
}



/*View History css*/
table.history-table tr:nth-child(odd) {
    background-color: #e1f1ff !important;
}
table.history-table tr:nth-child(even) {
    background-color: #ececec !important;
}
table.history-table tr {
    color: #333333 !important;
    font-size: 13px !important;
}
table.history-table tr td{
    text-align: center;
}


table.history-table tbody tr:first-child {
    color: #333333 !important;
    font-size: 14px !important;
    font-weight: 600;
}
span#history_span h3 {
    position: sticky;
    top: 0;
    margin: 0;
    text-align: center;
    background-color: #3c7cc4;
    padding: 5px 0;
    color: #ffffff;
}
table.history-table {
  position: relative;
}

span#history_span {
    display: block;
    height: 200px !important;
    overflow-x: scroll !important;
}

.modal-content.view-history-tbl .modal-header {
    background-color: #244a76 !important;
    height: 35px !important;
}

.modal-content.view-history-tbl .modal-header h5 {
    margin-top: 13px !important;
}
.close {
    margin-top: 5px !important;
}
table.history-details-table tbody tr:nth-child(odd) {
    background-color: #c5e2fb !important;
}
  
